server {
listen 80;
server_name {{ dark_server.network.fqdn }} {{ dark_server.network.ip }};

    location /deluge {
     proxy_pass        http://127.0.0.1:8112/;
     proxy_set_header  X-Deluge-Base "/deluge/";
    }
}